# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/

# Node
node_modules
dist
dist-ssr
*.local

# Models & logs (large files)
models/
logs/
outputs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
